html * {
    box-sizing: border-box;
}

#table {
    display: table;
    background-color: #212529;
    border-collapse: collapse;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(235, 235, 235);
}

#table tr td, #table tr th {
    border: 3px solid grey;
    padding: 15px 25px 15px 25px;
}

.t-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 15px;
}

button {
    padding: 10px 20px;
    border: 2px solid rgb(179, 179, 179);
    border-radius: 25px;
    background-color: rgb(63, 63, 63);
    color: white;
}

#tc {
    border: 3px solid black;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.dropdown-c {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(63, 63, 63);
    color: white;
}

#dropdown {
    border: 2px solid rgb(179, 179, 179);
    border-radius: 25px;
    background-color: rgb(63, 63, 63);
    color: white;
    padding: 3px 5px;
}